<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079283427477-57k1mj07siiobu55cd06d8th1cngqdai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079283427477-57k1mj07siiobu55cd06d8th1cngqdai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1079283427477-63b2pgnngdeaf2q18umlhi5fiu4hc8li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEIj_ckPnCeKudvuGNymBWzZvsJFRZA1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1079283427477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.assignmentlogger</string>
	<key>PROJECT_ID</key>
	<string>assignment-logger-bak7ep</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-logger-bak7ep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079283427477:ios:9c9cbe7d9c093249e6d39c</string>
</dict>
</plist>